<div class="not-found">
  <div class="container">
    <div class="not-found-title">
      <h1>404</h1>
    </div>
    <div class="not-found-details">
      <h2>Sorry, we can't find the page you're looking for.</h2>
    </div>
    <div class="not-found-link">
      <a class="btn btn-primary" href="/" role="button">Go Home</a>
    </div>
  </div>
</div>