<div class="content-header">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="breadcrumb-link">
          <a href="/">Home</a>
          <span>Login / Register</span>
        </nav>
      </div>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center">
  <div class="simple-form">
    <h2>
      Register Account
    </h2>
    <p>Create an account with us so that you can track your purchases.</p>
    {% form new_user %}
      <input required="required" id="spree_user_email" type="email" name="spree_user[email]" class="form-control" value="{{ spree_user.email }}" placeholder="Enter Your Email Address">
      <input required="required" id="spree_user_password" type="password" name="spree_user[password]" class="form-control" placeholder="Enter a Password">
      <input required="required" id="spree_user_password_confirmation" type="password" name="spree_user[password_confirmation]" class="form-control" placeholder="Confirm Your Password">
      <input type="submit" class="btn btn-primary" value="Register a New Account">
      <p>or</p>
      <a class="btn btn-secondary" href="/login">Log In to Your Account</a>
    {% endform %}
  </div>
</div>
