{% content_for head_scripts %}
  {% javascript_pack_tag 'storefront_checkout' %}
{% endcontent_for %}

<div class="content-header">
  <div class="container">
    <div class="row">
      <div class="col-12 d-flex justify-content-center">
        {% include 'spree/shared/logo' %}
      </div>
    </div>
  </div>
</div>

<div class="checkout-edit">
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{ current_store.google_maps_api_key }}&libraries=places" id="goog"></script>
  <div data-react-class="CheckoutContainer" data-react-props="{{ order.checkout_json_payload | html_escape }}"></div>
</div>
