<div class="content-header">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav>
          {{ breadcrumbs.to_html }}
        </nav>
      </div>
    </div>
  </div>
</div>

{% include 'spree/shared/product_show' %}
