.hero-container {
  padding: 130px 0;
  margin-bottom: 35px;

  position: relative;

  .backsplash {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0;
    opacity: 0.85;
    background-size: cover;
  }

  .content {
    z-index: 1;
    position: relative;
    display: inline-block;
    background: rgba(255,255,255, 0.7);
    padding: 20px;
    border-radius: 15px;
    min-width: 33%;
  }

  .post-meta {
    .published-at {
      padding: 0 20px;
    }
  }

}

.pagination-container {
  margin: 10px 0;
}

.content-feed-count {
  text-align: right;
  margin: 20px 0 50px 0;
}

.blog-content {
  padding-bottom: 75px;
  font-size: 20px;
}

.video-container {
  // NOTE: this percentage expresses the height-width ratio of a youtube video
  // see https://jameshfisher.com/2017/08/30/how-do-i-make-a-full-width-iframe.html
  padding-top: 56.25%;
  position: relative;
  margin-bottom: 30px;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
