.media-container {
  width: 100%;
  min-height: 400px;
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;

  .media-card {
    flex: 0 0 auto;
    width: 100%;
    background-color: map-get($brand-white, 'lightest');

    .published-at {
      border-bottom: 1px solid map-get($brand-gray, 'primary');
      padding-bottom: 5px;
      margin-bottom: 5px;
    }

    .media-card-image {
      height: 320px;
      background-position: center center;
      background-size: cover;
    }

    .media-card-video-thumbnail:after {
      content: '';
      background: url("../images/play-button.png") no-repeat center;
      width: 100%;
      height: 100%;
      opacity: 0.8;
      top: 0;
      left: 0;
      display: block;
      z-index: 1;
    }

    .media-card-text {
      padding: 1rem;
      background-color: map-get($brand-white, 'lightest');
      display: flex;
      flex-direction: column;

      a {
        width: 100%;
      }

      .media-card-social-icon {
        display: inline-block;
        width: 1.5rem;
        color: black;
      }

      .card-title {
        font-size: 20px;
        font-weight: 700;
      }

      .category-link {
        font-weight: 700;
        letter-spacing: 2px;
        text-transform: uppercase;
      }

      .card-author {
        text-align: right;
      }
    }
 
    .call-to-action {
      display: inline-block;
      font-family: Karla, sans-serif;
      font-weight: 700;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: map-get($brand-orange, 'primary');
    }

  }

}
