.shipment-container {
  padding-top: 70px;
  padding-bottom: 50px;
}

.controller-orders.action-show {

  .checkout-confirm-form, .order-summary-container {
    p, span {
      color: map-get($brand-gray, 'darkest');
      font-size: 1.25rem; 
      font-family: $font-roboto;
    }
  }

  .address {
    padding-left: 1em;
    .tel {
      margin-left: -1em;
      padding-top: 1em;
    }
  }

}
