.product-block-feature {
  background-color: map-get($brand-white, 'primary');
  margin: 10px 0;
  padding: 20px;

  .product-img {
    max-width: 75px;
    padding: 10px 0;

    @media screen and (min-width: 992px) {
      padding: 0;
    }

    img {
      width: 100%;
    }
  }
}
