<div class="modal fade" id="addToCartModal" tabindex="-1" role="dialog" aria-labelledby="Cart Modal" aria-hidden="true">
<div class="modal-dialog modal-dialog-right" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h3 class="modal-title">Added to Cart!</h3>
    </div>
    <div class="modal-body">
      <p>There are <span class="cart-number"></span> item(s) in your cart.</p>
      <a href="/cart" class="btn btn-secondary view-cart">Cart &gt;</a>
      <a href="/checkout" class="btn btn-primary checkout">Checkout &gt;</a>
    </div>
  </div>
</div>
