{% unless posts.first_page? %}
  <div class="col">
    <a href="{{ posts | path_to_prev_page }}" class="prev-page-link">
      &lt; Previous Page
    </a>
  </div>
{% endunless %}
{% unless posts.last_page? %}
  <div class="col">
    <a href="{{ posts | path_to_next_page }}" class="next-page-link">
      Next Page &gt;
    </a>
  </div>
{% endunless %}
