<div id="quicklook-modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <a class="close-button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&lt; Back</span>
        </a>
      </div>
      <div class="modal-body">
      </div>
    </div>
  </div>
</div>

<script>
window.quickLook = function(product_id) {
  // cause the quicklook to load inside the iframe, implicitly triggering a 'quicklook:loaded" 
  // message once it's ready
  $("#quicklook-modal .modal-body").html("<iframe src='/quicklook/"+product_id+"'></iframe>");
  $("#quicklook-modal").addClass("loading")
  $("#quicklook-modal").modal({}); 
}

window.addEventListener("message", e => {
  switch(e.data.eventType) {
    case "quicklook:loaded": 
      $("#quicklook-modal").removeClass('loading')
    break;
    case "quicklook:added": 
      $("#quicklook-modal").modal("hide");
      window.updateCartLink(function(){ $('#addToCartModal').modal('show') })
    break;
  }
})

document.querySelectorAll(".quicklook-target").forEach( el => {
  el.addEventListener("click", e => {
    if (e.target.tagName != "A") {
      window.quickLook(e.currentTarget.getAttribute("data-product-id"))
    }
  })
})

</script>
