<header class="main-header container">
  <nav class="navbar navbar-expand-md navbar-light justify-content-between">
    <div class="navbar-brand">
      {% include 'spree/shared/logo' %}
    </div>
    <form class="form-inline hovering-submit d-none d-md-flex" id="header-search">
      <input class="search-field" type="text" type="text" placeholder="Search">
      <input type="submit" class="btn btn-primary" value="Go">
    </form>
    <div class="form-inline header-icons">
      <a class="account-actions d-none d-md-flex" href="/account">
        <i class="fas fa-user"></i>
      </a>
      <a class="cart d-none d-md-flex" href="/cart">
         <i class="fas fa-shopping-cart">
         </i>
         <div class="cart-number"></div>
      </a>
      <button class="hamburger d-md-none navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#mobile-menu" aria-controls="mobile-menu" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
    </div>
  </nav>
  <nav class="navbar navbar-light navbar-expand-md">
    <div id="mobile-menu" class="collapse navbar-collapse justify-items-center">
      {% include 'spree/shared/header_menu' with header_menu %}
    </div>
  </div>
</header>
